<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (config) { @for (field of config.fields; track field.name) {
  <label>{{ field.label }}</label>
  @switch (field.type) { @case ('select') {
  <select [formControlName]="field.name">
    <option *ngFor="let option of field.options" [value]="option">
      {{ option }}
    </option>
  </select>
  } @case ('checkbox') {

  <label>
    <input type="checkbox" [formControlName]="field.name" />
    {{ field.label }}
  </label>
  } @default {
  <input
    [type]="field.type"
    [formControlName]="field.name"
    [placeholder]="field.placeholder"
  />
  } }
  <!-- Add more cases for other types of form controls as needed -->
  <!-- Validation messages -->
  <div class="validation-messages">
    @if (form.get(field.name)?.invalid && (form.get(field.name)?.dirty ||
    form.get(field.name)?.touched)) { @if (form.get(field.name)?.errors) { @if
    (form.get(field.name)?.errors) { @for (errorKey of
    form.get(field.name)?.errors | keyvalue; track errorKey) {
    {{ field.validationMessages[errorKey.key] }}
    } } } }
  </div>
  }
  <button type="submit" [disabled]="form.invalid">Submit</button>
  }
</form>
